.info {
  background: Grey;
  box-shadow: 0 0 1px rgba(128, 128, 128, 0.25);
  color: #fff;
}

.alert {
  background: #3f3;
  box-shadow: 0 0 10px rgba(51, 255, 51, 0.25);
  color: #fff;
}

.success {
  background: DarkGreen;
  box-shadow: 0 0 1px rgba(0, 100, 0, 0.25);
  color: #fff;
}
